p {
    color: red;
    font-size: small;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
  color: seagreen;
    font-size: xx-large;
    font-weight: bold;

}

ol li {
  color: blue;
  font-size: large;
}

div,
footer {
    text-align: center;
}

header {
    background-color: darksalmon;
}

.paragraf {
    background-color: dimgray;
}

p.paragraf {
    color: white;
}