.box {
    width: 100px;
    height: 100px;
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.box-1 {
    background: grey;
    z-index: 3;
    left: 0px;
    top: 0px;
    transform: translate(100px, 50px) rotate(45deg);
}
.box-4 {
    background: green;
    left: 25px;
    top: 25px;
    z-index: 2;
    transform: skew(-45deg, 10deg);
}
.box-2 {
    background: red;
    left: 50px;
    top: 50px;
    z-index: 1;
    transform: perspective(150px);
}

.box-3 {
    background: yellow;
    left: 100px;
    top: 100px;
    z-index: 1;
}

.box-3:hover {
    transform: translate(50px, 50px);
}

.box-5 {
    background: black;
    left: 75px;
    top: 75px;
    z-index: 1;
}

.box:hover {
    background: blue;
    z-index: 99;
}

.box-3:active {
    background: firebrick;
}

.circle-list {
    list-style-type: circle;
}

.lower-alpha-list {
    list-style-type: lower-alpha;
}

.upper-roman-list {
    list-style-type: upper-roman;
}

.margin-top-300 {
    margin-top: 300px;
}

.image-list {
    list-style-type: none;
}

.image-list li::before {
    content: '';
    background: url(images/iran.jpg);
    width: 25px;
    height: 25px;
    display: block;
}

@media (max-width: 600px) {
    .disapearing {
        display: none;
    }
    
    .box-5,
    .box-4 {
        display: none;
    }
}

@media (min-width: 750px) {
    .disapearing {
        border: 1px solid red;
    }
}