.box {
    width: 100px;
    height: 100px;
    position: absolute;
}
.box-1 {
    background: grey;
    z-index: 3;
    left: 0px;
    top: 0px;
}
.box-2 {
    background: green;
    left: 25px;
    top: 25px;
    z-index: 2;
}
.box-3 {
    background: red;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.circle-list {
    list-style-type: circle;
}

.lower-alpha-list {
    list-style-type: lower-alpha;
}

.upper-roman-list {
    list-style-type: upper-roman;
}

.margin-top-300 {
    margin-top: 300px;
}