.bordered {
    border-left: 2px solid tomato;
    border-bottom: 1px dashed salmon;
}

.bordered-full {
    border: 2px solid violet;
}

.separated {
    margin: 2rem;
    padding: 2rem;
}

.bordered-round {
    border-radius: 100px;
}

.width-limited {
    width: 400px;
}

.image-1 {
    width: 1000px;
}

.height-limited {
    max-height: 100px;
}

.overflow-auto {
    overflow: auto;
}

.blok {
    width: 200px;
    height: 200px;
}

.blok1 {
    float: left;
    background: blue;
}

.blok2 {
    float: right;
    background: red;
    clear: both;
}

.blok3 {
    float: left;
    background: orange;
}

.blok4 {
    float: left;
    background: purple;
    clear: left;
}