.bordered {
    border-left: 2px solid tomato;
    border-bottom: 1px dashed salmon;
}

.bordered-full {
    border: 2px solid violet;
}

.separated {
    margin: 2rem;
    padding: 2rem;
}

.bordered-round {
    border-radius: 100px;
}

.width-limited {
    width: 400px;
}

.image-1 {
    width: 1000px;
}

.height-limited {
    max-height: 100px;
}

.overflow-auto {
    overflow: auto;
}

.blok {
    width: 200px;
    height: 200px;
}

.blok1 {
    float: left;
    background: blue;
}

.blok2 {
    float: right;
    background: red;
    clear: both;
}

.blok3 {
    float: left;
    background: orange;
}

.blok4 {
    float: left;
    background: purple;
    clear: left;
}

.blok-red {
    background: red;
}

.blok-position-1 {
    position: absolute;
    left: 500px;
    bottom: 0px;
}


.blok-position-2 {
    position: relative;
    left: 500px;
    bottom: 0px;
    background: green;
}

.blok-position-3 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: grey;
    border-radius: 100px;
}

.height-400 {
    height: 400px;
}